@use "../../variables";

.menu {
    display: none;

    @media screen and (min-width: 880px) {
        display: block;
    }

    position: fixed;
    right: 0%;
    top: 40%;
    margin-right: 2rem;
    color: var(--color-menu-primary);
    font-size: 16px;
    font-weight: 500;
    opacity: 0%;
    z-index: 100;
    p:hover {
        cursor: pointer;
        color: var(--color-menu-secondary);
        text-decoration: underline 1.5px solid var(--color-selection);
    }
}
