.about-me-container {
    max-width: 90%;
    min-height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5rem;
    margin: auto;
}

.text-container {
    font-size: 24px;
    max-width: 60%;
    margin-right: 10rem;
}

.photo {
    max-width: 20rem;
    border-radius: 50%;
    box-shadow: 8px 8px 8px rgb(255, 175, 69);
}

.node-styling {
    color: #3c873a;
    font-weight: 600;
}
.merck-styling {
    color: #007a73;
    font-weight: 600;
}

.menu {
    position: fixed;
    background-color: cyan;
}
