.btn {
    background-color: #0094ff;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 11px 1rem;
    /* margin: 0 0.5rem ; */
    width: 7.5rem;
}

.btn:hover {
    background-color: #fff;
    color: #0094ff;
    border: 1px solid #0094ff;
    cursor: pointer;
}
