$light-background: rgba(248, 255, 255, 0.826);
$light-txt: black;
$light-orange: rgb(255, 175, 69);
$light-purple: rgba(78, 78, 255, 0.808);
$light-node-green: #3c873a;
$light-merck-green: #007a73;
$light-primary-grey: rgba(128, 128, 128, 0.599);
$light-secondary-grey: rgba(88, 88, 88, 0.835);

$dark-background: black;
$dark-txt: white;
$dark-purple: rgb(124, 124, 255);
$dark-node-green: #6cc24a;
$dark-merck-green: #00bcb3;
$dark-primary-white: rgba(227, 227, 227, 0.79);
$dark-secondary-white: rgba(255, 255, 255, 0.93);
$dark-bisque: rgb(77, 77, 155);
