//shoutout to https://github.com/brandonmcconnell
@use "./Sections/About/about.scss";
@use "./components/Menu/menu.scss";
@use "variables.scss";
@import "typed";
@import "./Sections/Landing/Icons/icons.scss";
@import "./Sections/Landing/landing.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    margin: 0;
    background-color: variables.$light-background;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Raleway", "Noto Sans JP";
    *.night {
        // background-color: #121212;
        // color: #ffff;
    }
}

::selection {
    background-color: variables.$light-orange;
}

* {
    // border: 1px solid red;s
}

.panel {
    min-height: 100vh;
}

.layout-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
