//shoutout to https://github.com/brandonmcconnell
@import "typed";
@import "./Sections/Landing/Icons/icons.scss";
@import "./Sections/Landing/landing.scss";

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    border: 1px solid red;
}

.panel {
    min-height: 100vh;
}

.layout-container {
    background-color: rgba(248, 255, 255, 0.826);
    height: 100vh;
    display: flex;
    flex-direction: column;
}
